{% extends "templates/baseone.html" %}
{% block title %}Capital Care | New Capital City - R3 Area{% endblock %}

{% block head_include %}
	<meta name="keywords" content="Capital Care,New Capital City,R3 Area" />
	<meta name="description" content="Capital Care | New Capital City - R3 Area">
	<meta name="author" content="capitalcareegypt.com">
{% endblock %}

{% block content %}
<div class="body">
			
			<div role="main" class="main">


				<div class="p-relative">
					

					<header id="header" class="header-narrow header-below-slider" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAtElement': '#header', 'stickySetTop': '0', 'stickyChangeLogo': false}">
						<div class="header-body">
							<div class="header-container header-container-height-sm container-fluid px-0">
								<div class="header-row">
									<div class="header-column">
										<div class="header-row">
											<div class="header-logo px-4">
												<a href="index.html" class="text-6 text-color-secondary text-decoration-none">
													<img alt="Capital Care"  height="70" src="/assets/capital_care_custom_site/img/capital-care-logo.png">  Capital Care
												</a>
											</div>
										</div>
									</div>
									<div class="header-column justify-content-center">
										<div class="header-row">
											<div class="header-nav justify-content-center">
												<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
													<nav class="wrapper-spy collapse">
														<ul class="nav nav-pills" id="mainNav">
															<li>
																<a class="nav-link active" href="index#home">Home</a>
															</li>
															<li>
																<a class="nav-link" href="index#about-us">About Us</a>
															</li>
															<li>
																<a class="nav-link" href="index#locationsection">Location</a>
															</li>
															<li>
																<a class="nav-link" href="index#facilities">Facilities</a>
															</li>
															<li>
																<a class="nav-link" href="index#smc">SMC</a>
															</li>
															<li>
																<a class="nav-link" href="index#clinics">Clinics</a>
															</li>
															<li>
																<a class="nav-link" href="index#media">Media</a>
															</li>
															<li>
																<a class="nav-link" href="index#contactussection">Contact Us</a>
															</li>
														</ul>
													</nav>
												</div>
											</div>
										</div>
									</div>
									<div class="header-column _left justify-content-end">
									
										<div class="header-row px-4">
											<ul class="header-extra-info">
												<li class="m-0">
													<a class="text-decoration-none" href='tel:16330'>
														<div class="feature-box feature-box-style-2 align-items-center">
															<div class="feature-box-icon">
																<i class="fas fa-mobile-alt text-9 p-relative text-color-light"></i>
															</div>
															<div class="feature-box-info pl-0">
																<p class="pb-0 text-uppercase text-color-secondary line-height-1 text-2">Hotline</p>
																<p class="pb-0 text-uppercase text-color-light font-weight-black letter-spacing-minus-1 line-height-1 text-6">16330</p>
															</div>
														</div>
													</a>
												</li>
											</ul>
											<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
												<i class="fas fa-bars"></i>
											</button>
										</div>
									</div>
								</div>
							</div>							
						</div>
					</header>
				</div>
				
				<div class="slider-with-overlay">

					<div class="slider-container rev_slider_wrapper" style="height: 670px;">
						<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': false }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
							<ul>
								<li class="" data-transition="fade">
									<img src="/assets/capital_care_custom_site/img/slides/a1.jpg"  
										alt=""
										data-bgposition="center center" 
										data-bgfit="cover" 
										data-bgrepeat="no-repeat" 
										class="rev-slidebg">

									
									
								</li>
							</ul>
						</div>
					</div>
				</div>
				<section id="media" class="section section-no-border bg-color-secondary m-0" style="background-image: url(/assets/capital_care_custom_site/img/white120.png);background-repeat: repeat-y; background-position: right;">
					<div class="container">
						<div class="row">
							<div class="col">
								<h2 class="custom-h2 text-color-light">Registration is now open at <strong>Capital Care</strong></h2>
								<p class="custom-section-sub-title  text-color-tertiary"><strong>The first full-service medical complex in the first ready-to-live district in the new capital city "r3".<br>Book your unit now and get the best price per meter in the new capital and the best payment facilities.<strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5 m-3">
									<div class="text-center py-5" style="background-image: url(/assets/capital_care_custom_site/video/videobg.jpg); background-size: cover; background-position: center;width:100%">
										<a class="text-decoration-none lightbox custom-play-button-1 appear-animation my-5 py-5" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" href="/assets/capital_care_custom_site/video/capital-care-mobile.mp4" data-plugin-options="{'type':'iframe'}">
											<i class="fas fa-play"></i>
										</a>
									</div>
							</div>
							<div class="col-md-5 m-3">
								<form id="contactForm" class="contact-form pl-4 pr-4" action="" method="POST">
									<div class="contact-form-success alert alert-success d-none mt-4" id="contactSuccess">
										<strong>Success!</strong> Your message has been sent to us.
									</div>

									<div class="contact-form-error alert alert-danger d-none mt-4" id="contactError">
										<strong>Error!</strong> There was an error sending your message.
										<span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
									</div>
									<div class="contact-form-inputs" id="contactform-inputs">

										<input type="hidden" name="subject" value="Contact Message Received" />
										<div class="form-row _divider">
											<div class="form-group col-sm-6">
												<label class="font-weight-bold text-quaternary">* Full Name :</label>
												<input type="text" data-msg-required="Please enter your Name." value=""  maxlength="100" class="form-control" name="name" id="name" placeholder="Your Name" required>
											</div>
											<div class="form-group col-sm-6">
												<label class="font-weight-bold text-quaternary">* Mobile No. :</label>
												<input type="text" data-msg-required="Please enter your Mobile No." value="" maxlength="100" class="form-control" name="phone" id="phone" placeholder="Mobile No." required>											
											</div>
										</div>
										<div class="form-row _divider">
											<div class="form-group col-sm-6">
												<label class="font-weight-bold text-quaternary">* Address :</label>
												<input type="text" data-msg-required="Please enter your Address." value="" maxlength="100" class="form-control" name="address" id="address" placeholder="Address" required>											
											</div>
											<div class="form-group col-sm-6">
												<label class="font-weight-bold text-quaternary">* Email Address :</label>
												<input type="email" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." value="" maxlength="100" class="form-control" name="email" id="email" placeholder="Email Address" required>
											</div>
										</div>
										<div class="form-row _divider">
											<div class="form-group col-sm-6">
												<label class="font-weight-bold text-quaternary">* Job :</label>
												<input type="text" data-msg-required="Please enter your job." value="" maxlength="100" class="form-control" name="job" id="job" placeholder="Job" required>											
											</div>
											<div class="form-group col-sm-6">
												<label class="font-weight-bold text-quaternary">* Interested in :</label>
												<select data-msg-required="Please select your interested in." class="form-control" name="interestedin" id="interestedin" required>
													<option value="">...</option>
													<option value="Clinic">Clinic</option>
													<option value="SMC Lab">SMC Lab</option>
													<option value="Pharmacy">Pharmacy</option>
												</select>
											</div>
										</div>
										<div class="form-row">
											<div class="col text-center">
												<input type="submit" value="SUBMIT" class="btn btn-primary custom-btn-style-2 text-color-light custom-margin-2 float-left mt-2" data-loading-text="Loading...">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>

				
				<section id="contactussection" class="section section-no-border bg-color-quaternary m-0 p-0" style="background-image: url(/assets/capital_care_custom_site/img/white120.png);background-repeat: repeat-y; background-position: right;">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-lg-12 mt-4 p-4">
								<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
									<h2 class="text-color-light text-uppercase">Contact Us</h2>
									<div class="divider divider-light divider-small">
										<hr>
									</div>
									<div class="row">
										<div class="col-md-6 custom-sm-margin-top">
											<h4 class="mb-1 text-color-secondary">Call Us</h4>
											<a href="tel:16330" class="text-decoration-none" title="Hotline">
												<p class="text-color-light text-2 custom-opacity-font">
													Hotline:
													<span class="info text-4">
														16330
													</span>
												</p>
											</a>
											<a href="tel:01212225713" class="text-decoration-none" title="Whatsapp">
												<p class="text-color-light text-2 custom-opacity-font">
													Whatsapp:
													<span class="info text-4">
														01212225713
													</span>
												</p>
											</a>
										</div>
										<div class="col-md-6 custom-sm-margin-top">
											<h4 class="mb-2 text-color-secondary">Mail Us</h4>
											<a href="mail:info@capitalcareegypt.com" class="text-decoration-none" title="Mail Us">
												<span class="custom-call-to-action-2 text-color-light text-2 custom-opacity-font">
													<span class="info text-4">
														info@capitalcareegypt.com
													</span>
												</span>
											</a>
											<h4 class="mb-1 mt-2 text-color-secondary">Social Media</h4>
											<ul class="social-icons social-icons-clean custom-social-icons-style-1 mt-2 custom-opacity-font">
												<li class="social-icons-facebook">
													<a href="https://www.facebook.com/capitalcareNc/" target="_blank" title="Facebook">
														<i class="fab fa-facebook-f"></i>
													</a>
												</li>
												<li class="social-icons-twitter">
													<a href="http://www.twitter.com/" target="_blank" title="Twitter">
														<i class="fab fa-twitter"></i>
													</a>
												</li>
												<li class="social-icons-Linkedin">
													<a href="https://www.linkedin.com/company/capitalcarenc" target="_blank" title="Linkedin">
														<i class="fab fa-linkedin-in"></i>
													</a>
												</li>
												<li class="social-icons-youtube">
													<a href="https://www.youtube.com/channel/UC-8nwlJ1BZs8hnQ7MSNPEBQ" target="_blank" title="YouTube">
														<i class="fab fa-youtube"></i>
													</a>
												</li>
											</ul>
										</div>
										
									</div>
									
									
									<div class="row">
										<div class="col-md-6 custom-sm-margin-top">
											<h4 class="mb-1 text-color-secondary">Our Location</h4>
											<p class=" text-color-light mb-0">R3 Area, New Capital, Cairo, Egypt</p>
											<a href="https://goo.gl/maps/HmrE7brjkfVkPyQK7" target="_blank" class="btn btn-primary bg-color-secondary text-3 font-weight-semibold text-color-light text-uppercase outline-none m-2" style='border-radius: 30px !important;'>Get Direction <i class="custom-long-arrow-right" aria-hidden="true"></i></a>
										</div>
										<div class="col-md-6 custom-sm-margin-top">
											<h4 class="mb-1 text-color-secondary">Sales Office</h4>
											<p class=" text-color-light mb-0">7 EL-Obour buildings - 10th floor, Salah Salem ST., Heliopolis, Cairo, Egypt.</p>
											<a href="https://goo.gl/maps/Ld4bQLbxbdztUHPQ7" target="_blank" class="btn btn-primary bg-color-secondary text-3 font-weight-semibold text-color-light text-uppercase outline-none m-2" style='border-radius: 30px !important;'>Get Direction <i class="custom-long-arrow-right" aria-hidden="true"></i></a>
										</div>
										
									</div>
									
									
									
								</div>
							</div>
						</div>
						
						
					</div>
				</section>

		</div>
		<footer id="footer" class="m-0 p-0">
			
			<div class="footer-copyright bg-color-light py-4">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center mb-1">
							<p class='text-color-primary'>© Copyright 2019 Capital Care. All Rights Reserved.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center mb-1">
							<p class='text-color-primary'>Developed By
								<a href="http://hendazaegypt.com/" target='_blank'>
									<img src="/assets/capital_care_custom_site/img/hendazalogocolor.png" style='max-height:20px;' class="img-fluid" data-toggle="tooltip" data-placement="top" title="HENDAZA for Investment & Urban Development - ”Specialized in construction & Real Estate Developments” - Cairo, EGYPT.">
								</a> 
								<a href="http://eyeworldco.com/" target='_blank'>
									<img src="/assets/capital_care_custom_site/img/eyeoftheworldlogocolor.png" style='max-height:25px;' class="mt-1 img-fluid" data-toggle="tooltip" data-placement="top" title="Eye of The World - ”Specialized in healthcare facilities management” - Dubai, UAE.">
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
<script>
	{% include "templates/includes/loading-form.js" %}
</script>
{% endblock %}