{% extends "templates/web.html" %}
{% if doc.head_html_details -%}
{%- block head -%}
	{{ doc.head_html_details or head_html or "" }}
{%- endblock -%}
{%- endif %}
{% block title %}{{ _(title) }}{% if main_page_title %} | {{ main_page_title  }}{% endif %}{% endblock %}
{%- block page_container -%}{% endblock %}

{% block topfooter %}
				<section id="mainpage" class="section section-no-border bg-color-light m-0">
					<div class="container">
						<div class="row text-center">
							<div class="col">
								<h2 class="font-weight-bold text-color-secondary line-height-5 text-7 mb-1 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">{{ _(title or name or "") }}</h2>
								<div class="divider divider-secondary divider-small divider-small-center">
									<hr>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 mb-0">
								<h4 class="text-color-quaternary appear-animation text-center" data-appear-animation="fadeInUp" data-appear-animation-delay="400">{{ _(doc.description) or "" }}</h4>
							</div>
						</div>
					</div>
				</section>
				{% if doc.image %}
				<div id="locationsection" class="m-0 bg-color-tertiary text-center">
					<a class="img-thumbnail img-thumbnail-no-borders d-block img-thumbnail-hover-icon lightbox bg-tertiary" href="{{ doc.image_large or doc.image }}" data-plugin-options="{'type':'image'}">
						<img class="img-fluid" src="{{ doc.image }}" alt="Our Location">
					</a>
				</div>
				{% endif %}
{% endblock %}
	
	
