{% extends "templates/web.html" %}

{% block title %}{{ _(title) }}{% endblock %}


{% block page_content %}
				<section id="mainpage" class="section section-no-border bg-color-light m-0">
					<div class="container">
						<div class="row text-center">
							<div class="col">
								<h2 class="font-weight-bold text-color-secondary line-height-5 text-7 mb-1 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">{{ _(title or name or "") }}</h2>
								<div class="divider divider-secondary divider-small divider-small-center">
									<hr>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 mb-0">
								<h4 class="text-color-quaternary appear-animation text-center" data-appear-animation="fadeInUp" data-appear-animation-delay="400">{{ _(mostafa) or "" }}</h4>
							</div>
						</div>
					</div>
				</section>
				{% if project_progress_items %}
				<div class="container py-4">

					<div class="row">
						<div class="col">
							<div class="blog-posts">
							
								<section class="timeline">
									<div class="timeline-body">
										<div class="timeline-date">
											<h3 class="text-primary font-weight-bold">January 2018</h3>
										</div>
							
										<article class="timeline-box left post post-medium">
											<div class="timeline-box-arrow"></div>
											<div class="p-2">
												<div class="row mb-2">
							
													<div class="col">
														<div class="post-image">
															<a href="blog-post.html">
																<img src="img/blog/wide/blog-11.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
															</a>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
							
														<div class="post-content">
															<h2 class="font-weight-semibold text-5 line-height-4 mt-2 mb-2"><a href="blog-post.html">This is a stardard post with preview image</a></h2>
															<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
														</div>
							
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-calendar-alt"></i> January 10, 2018 </span><br>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
															<span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>
															<span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<a href="blog-post.html" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
													</div>
												</div>
											</div>
										</article>
							
										<article class="timeline-box right post post-medium">
											<div class="timeline-box-arrow"></div>
											<div class="p-2">
												<div class="row mb-2">
							
													<div class="col">
														<div class="post-image">
															<div class="owl-carousel owl-theme show-nav-hover dots-inside nav-inside nav-style-1 nav-light mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': true}">
																<div>
																	<div class="img-thumbnail border-0 p-0 d-block">
																		<img class="img-fluid border-radius-0" src="img/blog/wide/blog-24.jpg" alt="">
																	</div>
																</div>
																<div>
																	<div class="img-thumbnail border-0 p-0 d-block">
																		<img class="img-fluid border-radius-0" src="img/blog/wide/blog-20.jpg" alt="">
																	</div>
																</div>
																<div>
																	<div class="img-thumbnail border-0 p-0 d-block">
																		<img class="img-fluid border-radius-0" src="img/blog/wide/blog-21.jpg" alt="">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
							
														<div class="post-content">
															<h2 class="font-weight-semibold text-5 line-height-4 mt-2 mb-2"><a href="blog-post.html">This is a stardard slider gallery post</a></h2>
															<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
														</div>
							
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-calendar-alt"></i> January 9, 2018 </span><br>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
															<span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>
															<span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<a href="blog-post.html" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
													</div>
												</div>
											</div>
										</article>
							
										<article class="timeline-box left post post-medium">
											<div class="timeline-box-arrow"></div>
											<div class="p-2">
												<div class="row mb-2">
													<div class="col">
														<div class="post-image">
															<div class="lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
																<div class="row mx-0">
																	<div class="col-6 col-md-4 p-0">
																		<a href="img/blog/square/blog-13.jpg">
																			<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
																				<span class="thumb-info-wrapper">
																					<img src="img/blog/square/blog-13.jpg" class="img-fluid" alt="" />
																					<span class="thumb-info-action">
																						<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																	<div class="col-6 col-md-4 p-0">
																		<a href="img/blog/square/blog-16.jpg">
																			<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
																				<span class="thumb-info-wrapper">
																					<img src="img/blog/square/blog-16.jpg" class="img-fluid" alt="" />
																					<span class="thumb-info-action">
																						<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																	<div class="col-6 col-md-4 p-0">
																		<a href="img/blog/square/blog-20.jpg">
																			<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
																				<span class="thumb-info-wrapper">
																					<img src="img/blog/square/blog-20.jpg" class="img-fluid" alt="" />
																					<span class="thumb-info-action">
																						<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																	<div class="col-6 col-md-4 p-0">
																		<a href="img/blog/square/blog-23.jpg">
																			<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
																				<span class="thumb-info-wrapper">
																					<img src="img/blog/square/blog-23.jpg" class="img-fluid" alt="" />
																					<span class="thumb-info-action">
																						<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																	<div class="col-6 col-md-4 p-0">
																		<a href="img/blog/square/blog-29.jpg">
																			<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
																				<span class="thumb-info-wrapper">
																					<img src="img/blog/square/blog-29.jpg" class="img-fluid" alt="" />
																					<span class="thumb-info-action">
																						<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																	<div class="col-6 col-md-4 p-0">
																		<a href="img/blog/square/blog-40.jpg">
																			<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons">
																				<span class="thumb-info-wrapper">
																					<img src="img/blog/square/blog-40.jpg" class="img-fluid" alt="" />
																					<span class="thumb-info-action">
																						<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fas fa-plus text-dark"></i></span>
																					</span>
																				</span>
																			</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-content">
															<h2 class="font-weight-semibold text-5 line-height-4 mt-2 mb-2"><a href="blog-post.html">This is a standard image gallery thumbs post</a></h2>
															<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-calendar-alt"></i> January 8, 2018 </span><br>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
															<span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>
															<span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<a href="blog-post.html" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
													</div>
												</div>
											</div>
										</article>
							
										<div class="timeline-date">
											<h3 class="text-primary font-weight-bold">November 2017</h3>
										</div>
							
										<article class="timeline-box left post post-medium">
											<div class="timeline-box-arrow"></div>
											<div class="p-2">
												<div class="row mb-2">
							
													<div class="col">
														<div class="post-image">
															<div class="embed-responsive embed-responsive-16by9">
																<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/45830194?color=ffffff&title=0&byline=0&portrait=0&badge=0" width="640" height="360" allowfullscreen></iframe>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
							
														<div class="post-content">
															<h2 class="font-weight-semibold text-5 line-height-4 mt-2 mb-2"><a href="blog-post.html">This is a standard embedded video post</a></h2>
															<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
														</div>
							
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-calendar-alt"></i> November 10, 2017 </span><br>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
															<span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>
															<span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<a href="blog-post.html" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
													</div>
												</div>
											</div>
										</article>
							
										<article class="timeline-box right post post-medium">
											<div class="timeline-box-arrow"></div>
											<div class="p-2">
												<div class="row mb-2">
							
													<div class="col">
														<div class="post-image">
															<div class="embed-responsive embed-responsive-16by9">
																<video class="embed-responsive-item" autoplay="" muted="" loop="" controls="">
																	<source src="video/memory-of-a-woman.mp4" type="video/mp4">
																</video>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
							
														<div class="post-content">
															<h2 class="font-weight-semibold text-5 line-height-4 mt-2 mb-2"><a href="blog-post.html">This is a standard HTML5 video post</a></h2>
															<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
														</div>
							
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-calendar-alt"></i> November 9, 2017 </span><br>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
															<span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>
															<span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<a href="blog-post.html" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
													</div>
												</div>
											</div>
										</article>
							
										<div class="timeline-date">
											<h3 class="text-primary font-weight-bold">September 2017</h3>
										</div>
							
										<article class="timeline-box left post post-medium">
											<div class="timeline-box-arrow"></div>
											<div class="p-2">
												<div class="row mb-2">
							
													<div class="col">
														<div class="post-image">
															<blockquote class="blockquote-primary">
																<p>Pellentesque pellentesque eget tempor tellus. Fusce lacllentesque eget tempor tellus ellentesque pelleinia tempor malesuada. Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
																<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
															</blockquote>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
							
														<div class="post-content">
															<h2 class="font-weight-semibold text-5 line-height-4 mt-2 mb-2"><a href="blog-post.html">This is a standard blockquote post</a></h2>
															<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
														</div>
							
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-calendar-alt"></i> September 10, 2017 </span><br>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
															<span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>
															<span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<a href="blog-post.html" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
													</div>
												</div>
											</div>
										</article>
							
										<article class="timeline-box right post post-medium">
											<div class="timeline-box-arrow"></div>
											<div class="p-2">
												<div class="row mb-2">
							
													<div class="col">
														<div class="post-image">
															<a href="http://www.themeforest.net/" class="d-block btn btn-primary btn-outline border-0 rounded-0 font-weight-bold text-center text-6 p-5" target="_blank">PORTO ON<br> THEMEFOREST</a>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
							
														<div class="post-content">
															<h2 class="font-weight-semibold text-5 line-height-4 mt-2 mb-2"><a href="blog-post.html">This is a standard link post</a></h2>
															<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
														</div>
							
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-calendar-alt"></i> September 9, 2017 </span><br>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
															<span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>
															<span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<a href="blog-post.html" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
													</div>
												</div>
											</div>
										</article>
							
										<article class="timeline-box left post post-medium">
											<div class="timeline-box-arrow"></div>
											<div class="p-2">
												<div class="row mb-2">
							
													<div class="col">
														<div class="post-image">
															<div class="embed-responsive embed-soundcloud embed-responsive-16by9">
																<iframe class="embed-responsive-item" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/341546259&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
							
														<div class="post-content">
															<h2 class="font-weight-semibold text-5 line-height-4 mt-2 mb-2"><a href="blog-post.html">This is a standard audio embedded post</a></h2>
															<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
														</div>
							
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-calendar-alt"></i> September 8, 2017 </span><br>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="post-meta">
															<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
															<span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>
															<span><i class="far fa-comments"></i> <a href="#">12 Comments</a></span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<a href="blog-post.html" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
													</div>
												</div>
											</div>
										</article>
							
										
							
									</div>
							
								</section>
							
							</div>
						</div>

					</div>

				</div>
				{% endif %}
				
{% endblock %}
{% block topfooter %}
{% endblock %}
	
	
	
