{% extends "templates/web.html" %}

{% block title %}{{ _(title) }}{% endblock %}


{% block page_content %}
				<section id="smc" class="section section-no-border bg-color-secondary m-0" style="background-image: url(/assets/capital_care_custom_site/img/white120.png);background-repeat: repeat-y; background-position: right;">
					{{ _(main_section) or "" }}
				</section>
				
				{% if property_model_item_test %}
				{{ property_model_item_test }}
				<section id="smcmodel" class="section section-no-border bg-color-tertiary m-0 pb-0 section-with-divider pt-0">
					<div class="divider divider-solid divider-style-4 divider-primary taller divider-icon-lg  appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="1000">
						<i class="fas fa-chevron-down"></i>
					</div>
					<div class="container">
						<div class="row">
						<div class="col">
							<div class="tabs tabs-bottom tabs-center tabs-simple">
								<ul class="nav nav-tabs">
									{% for pmi in property_model_item_test %}
									<li class="nav-item active">
										<a class="nav-link" href="#tabsSMCModel1" data-toggle="tab">{{ pmi.property_model_title }}</a>
									</li>
									{% endfor %}
									
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tabsSMCModel1">
										<div class="row">
											<div class="col-lg-1">
											</div>
											<div class="col-lg-5 mb-4 mb-lg-0">
												<h2 class="custom-h2 font-weight-bold text-color-secondary line-height-5 text-7 mb-4">SMC <strong class=" text-color-quaternary font-weight-thin text-1">(Model 1)</strong></h2>
												
												<div class="col-lg-10 mb-4 mb-lg-0 tabledetails text-center">
													<table class="table text-center  table-hover bg-tertiary " >
														<tbody>
															<tr class="">
																<th>Terrace</th>
																<td>41 M&sup2;</td>
															</tr>
															<tr class="">
																<th>First Floor</th>
																<td>390 M&sup2;</td>
															</tr>
															<tr class="">
																<th>Ground Floor</th>
																<td>115 M&sup2;</td>
															</tr>
															<tr class="">
																<th>Lower Floor</th>
																<td>745 M&sup2;</td>
															</tr>
															<tr class="bg-secondary text-light text-uppercase">
																<th>Gross Areas</th>
																<th>1250 M&sup2;</th>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="col-lg-6 mb-4 mb-lg-0 text-center">
												<a class="img-thumbnail img-thumbnail-no-borders d-block img-thumbnail-hover-icon lightbox" href="public/img/smc/smc-model1.jpg" data-plugin-options="{'type':'image'}">
													<img class="img-fluid" src="public/img/smc/smc-model1.png" alt="SMC Model1">
												</a>
											</div>
										</div>
									</div>
									
									
									
								</div>
							</div>
						</div>
					</div>
				</section>
				{% endif %}
				
				{% if property_model_items %}
				{{ property_model_items }}
				<section id="smcmodel" class="section section-no-border bg-color-tertiary m-0 pb-0 section-with-divider pt-0">
					<div class="divider divider-solid divider-style-4 divider-primary taller divider-icon-lg  appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="1000">
						<i class="fas fa-chevron-down"></i>
					</div>
					<div class="container">
						<div class="row">
						<div class="col">
							<div class="tabs tabs-bottom tabs-center tabs-simple">
								<ul class="nav nav-tabs">
									{% for pmi in property_model_items %}
									<li class="nav-item active">
										<a class="nav-link" href="#tabsSMCModel1" data-toggle="tab">{{ pmi.property_model }}</a>
									</li>
									{% endfor %}
									
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tabsSMCModel1">
										<div class="row">
											<div class="col-lg-1">
											</div>
											<div class="col-lg-5 mb-4 mb-lg-0">
												<h2 class="custom-h2 font-weight-bold text-color-secondary line-height-5 text-7 mb-4">SMC <strong class=" text-color-quaternary font-weight-thin text-1">(Model 1)</strong></h2>
												
												<div class="col-lg-10 mb-4 mb-lg-0 tabledetails text-center">
													<table class="table text-center  table-hover bg-tertiary " >
														<tbody>
															<tr class="">
																<th>Terrace</th>
																<td>41 M&sup2;</td>
															</tr>
															<tr class="">
																<th>First Floor</th>
																<td>390 M&sup2;</td>
															</tr>
															<tr class="">
																<th>Ground Floor</th>
																<td>115 M&sup2;</td>
															</tr>
															<tr class="">
																<th>Lower Floor</th>
																<td>745 M&sup2;</td>
															</tr>
															<tr class="bg-secondary text-light text-uppercase">
																<th>Gross Areas</th>
																<th>1250 M&sup2;</th>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<div class="col-lg-6 mb-4 mb-lg-0 text-center">
												<a class="img-thumbnail img-thumbnail-no-borders d-block img-thumbnail-hover-icon lightbox" href="public/img/smc/smc-model1.jpg" data-plugin-options="{'type':'image'}">
													<img class="img-fluid" src="public/img/smc/smc-model1.png" alt="SMC Model1">
												</a>
											</div>
										</div>
									</div>
									
									
									
								</div>
							</div>
						</div>
					</div>
				</section>
				{% endif %}
{% endblock %}

	
	
	
